<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morsearch.dao.Acc_MemoAmtMapper" >
  <resultMap id="BaseResultMap" type="com.morsearch.model.Acc_MemoAmt" >
    <id column="orderid" property="orderid" jdbcType="BIGINT" />
    <result column="orderno" property="orderno" jdbcType="VARCHAR" />
    <result column="orderdate" property="orderdate" jdbcType="TIMESTAMP" />
    <result column="ordertype" property="ordertype" jdbcType="VARCHAR" />
    <result column="ordertitle" property="ordertitle" jdbcType="VARCHAR" />
    <result column="ordersign" property="ordersign" jdbcType="VARCHAR" />
    <result column="orderaccount" property="orderaccount" jdbcType="DECIMAL" />
    <result column="tradeway" property="tradeway" jdbcType="TINYINT" />
    <result column="tradename" property="tradename" jdbcType="VARCHAR" />
    <result column="tradeorderno" property="tradeorderno" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="accountid" property="accountid" jdbcType="BIGINT" />
    <result column="createid" property="createid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderid, orderno, orderdate, ordertype, ordertitle, ordersign, orderaccount, tradeway, 
    tradename, tradeorderno, currency, accountid, createid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.morsearch.model.Acc_MemoAmtExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Acc_MemoAmt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Acc_MemoAmt
    where orderid = #{orderid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Acc_MemoAmt
    where orderid = #{orderid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.morsearch.model.Acc_MemoAmtExample" >
    delete from Acc_MemoAmt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.morsearch.model.Acc_MemoAmt" >
    insert into Acc_MemoAmt (orderid, orderno, orderdate, 
      ordertype, ordertitle, ordersign, 
      orderaccount, tradeway, tradename, 
      tradeorderno, currency, accountid, 
      createid)
    values (#{orderid,jdbcType=BIGINT}, #{orderno,jdbcType=VARCHAR}, #{orderdate,jdbcType=TIMESTAMP}, 
      #{ordertype,jdbcType=VARCHAR}, #{ordertitle,jdbcType=VARCHAR}, #{ordersign,jdbcType=VARCHAR}, 
      #{orderaccount,jdbcType=DECIMAL}, #{tradeway,jdbcType=TINYINT}, #{tradename,jdbcType=VARCHAR}, 
      #{tradeorderno,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, #{accountid,jdbcType=BIGINT}, 
      #{createid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.morsearch.model.Acc_MemoAmt" >
    insert into Acc_MemoAmt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="orderno != null" >
        orderno,
      </if>
      <if test="orderdate != null" >
        orderdate,
      </if>
      <if test="ordertype != null" >
        ordertype,
      </if>
      <if test="ordertitle != null" >
        ordertitle,
      </if>
      <if test="ordersign != null" >
        ordersign,
      </if>
      <if test="orderaccount != null" >
        orderaccount,
      </if>
      <if test="tradeway != null" >
        tradeway,
      </if>
      <if test="tradename != null" >
        tradename,
      </if>
      <if test="tradeorderno != null" >
        tradeorderno,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="accountid != null" >
        accountid,
      </if>
      <if test="createid != null" >
        createid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=BIGINT},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="orderdate != null" >
        #{orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ordertype != null" >
        #{ordertype,jdbcType=VARCHAR},
      </if>
      <if test="ordertitle != null" >
        #{ordertitle,jdbcType=VARCHAR},
      </if>
      <if test="ordersign != null" >
        #{ordersign,jdbcType=VARCHAR},
      </if>
      <if test="orderaccount != null" >
        #{orderaccount,jdbcType=DECIMAL},
      </if>
      <if test="tradeway != null" >
        #{tradeway,jdbcType=TINYINT},
      </if>
      <if test="tradename != null" >
        #{tradename,jdbcType=VARCHAR},
      </if>
      <if test="tradeorderno != null" >
        #{tradeorderno,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null" >
        #{accountid,jdbcType=BIGINT},
      </if>
      <if test="createid != null" >
        #{createid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.morsearch.model.Acc_MemoAmtExample" resultType="java.lang.Integer" >
    select count(*) from Acc_MemoAmt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Acc_MemoAmt
    <set >
      <if test="record.orderid != null" >
        orderid = #{record.orderid,jdbcType=BIGINT},
      </if>
      <if test="record.orderno != null" >
        orderno = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.orderdate != null" >
        orderdate = #{record.orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ordertype != null" >
        ordertype = #{record.ordertype,jdbcType=VARCHAR},
      </if>
      <if test="record.ordertitle != null" >
        ordertitle = #{record.ordertitle,jdbcType=VARCHAR},
      </if>
      <if test="record.ordersign != null" >
        ordersign = #{record.ordersign,jdbcType=VARCHAR},
      </if>
      <if test="record.orderaccount != null" >
        orderaccount = #{record.orderaccount,jdbcType=DECIMAL},
      </if>
      <if test="record.tradeway != null" >
        tradeway = #{record.tradeway,jdbcType=TINYINT},
      </if>
      <if test="record.tradename != null" >
        tradename = #{record.tradename,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeorderno != null" >
        tradeorderno = #{record.tradeorderno,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null" >
        currency = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.accountid != null" >
        accountid = #{record.accountid,jdbcType=BIGINT},
      </if>
      <if test="record.createid != null" >
        createid = #{record.createid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Acc_MemoAmt
    set orderid = #{record.orderid,jdbcType=BIGINT},
      orderno = #{record.orderno,jdbcType=VARCHAR},
      orderdate = #{record.orderdate,jdbcType=TIMESTAMP},
      ordertype = #{record.ordertype,jdbcType=VARCHAR},
      ordertitle = #{record.ordertitle,jdbcType=VARCHAR},
      ordersign = #{record.ordersign,jdbcType=VARCHAR},
      orderaccount = #{record.orderaccount,jdbcType=DECIMAL},
      tradeway = #{record.tradeway,jdbcType=TINYINT},
      tradename = #{record.tradename,jdbcType=VARCHAR},
      tradeorderno = #{record.tradeorderno,jdbcType=VARCHAR},
      currency = #{record.currency,jdbcType=VARCHAR},
      accountid = #{record.accountid,jdbcType=BIGINT},
      createid = #{record.createid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.morsearch.model.Acc_MemoAmt" >
    update Acc_MemoAmt
    <set >
      <if test="orderno != null" >
        orderno = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="orderdate != null" >
        orderdate = #{orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ordertype != null" >
        ordertype = #{ordertype,jdbcType=VARCHAR},
      </if>
      <if test="ordertitle != null" >
        ordertitle = #{ordertitle,jdbcType=VARCHAR},
      </if>
      <if test="ordersign != null" >
        ordersign = #{ordersign,jdbcType=VARCHAR},
      </if>
      <if test="orderaccount != null" >
        orderaccount = #{orderaccount,jdbcType=DECIMAL},
      </if>
      <if test="tradeway != null" >
        tradeway = #{tradeway,jdbcType=TINYINT},
      </if>
      <if test="tradename != null" >
        tradename = #{tradename,jdbcType=VARCHAR},
      </if>
      <if test="tradeorderno != null" >
        tradeorderno = #{tradeorderno,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null" >
        accountid = #{accountid,jdbcType=BIGINT},
      </if>
      <if test="createid != null" >
        createid = #{createid,jdbcType=BIGINT},
      </if>
    </set>
    where orderid = #{orderid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.morsearch.model.Acc_MemoAmt" >
    update Acc_MemoAmt
    set orderno = #{orderno,jdbcType=VARCHAR},
      orderdate = #{orderdate,jdbcType=TIMESTAMP},
      ordertype = #{ordertype,jdbcType=VARCHAR},
      ordertitle = #{ordertitle,jdbcType=VARCHAR},
      ordersign = #{ordersign,jdbcType=VARCHAR},
      orderaccount = #{orderaccount,jdbcType=DECIMAL},
      tradeway = #{tradeway,jdbcType=TINYINT},
      tradename = #{tradename,jdbcType=VARCHAR},
      tradeorderno = #{tradeorderno,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      accountid = #{accountid,jdbcType=BIGINT},
      createid = #{createid,jdbcType=BIGINT}
    where orderid = #{orderid,jdbcType=BIGINT}
  </update>
</mapper>