<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morsearch.dao.AwardV_EvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.morsearch.model.AwardV_Evaluate" >
    <result column="ba_id" property="ba_id" jdbcType="BIGINT" />
    <result column="ba_name" property="ba_name" jdbcType="VARCHAR" />
    <result column="ba_datebegin" property="ba_datebegin" jdbcType="VARCHAR" />
    <result column="ba_dateend" property="ba_dateend" jdbcType="VARCHAR" />
    <result column="ba_popup" property="ba_popup" jdbcType="SMALLINT" />
    <result column="ba_integral_first" property="ba_integral_first" jdbcType="INTEGER" />
    <result column="ba_integral_normal" property="ba_integral_normal" jdbcType="INTEGER" />
    <result column="ba_createid" property="ba_createid" jdbcType="BIGINT" />
    <result column="ba_createno" property="ba_createno" jdbcType="VARCHAR" />
    <result column="ba_createdate" property="ba_createdate" jdbcType="TIMESTAMP" />
    <result column="ba_confirmid" property="ba_confirmid" jdbcType="BIGINT" />
    <result column="ba_confirmno" property="ba_confirmno" jdbcType="VARCHAR" />
    <result column="ba_confirmdate" property="ba_confirmdate" jdbcType="TIMESTAMP" />
    <result column="ba_status" property="ba_status" jdbcType="TINYINT" />
    <result column="statusname" property="statusname" jdbcType="VARCHAR" />
    <result column="activityname" property="activityname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ba_id, ba_name, ba_datebegin, ba_dateend, ba_popup, ba_integral_first, ba_integral_normal,
    ba_createid, ba_createno, ba_createdate, ba_confirmid, ba_confirmno, ba_confirmdate,
    ba_status, statusname, activityname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.morsearch.model.AwardV_EvaluateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AwardV_Evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.morsearch.model.AwardV_EvaluateExample" >
    delete from AwardV_Evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.morsearch.model.AwardV_Evaluate" >
    insert into AwardV_Evaluate (ba_id, ba_name, ba_datebegin,
    ba_dateend, ba_popup, ba_integral_first,
    ba_integral_normal, ba_createid, ba_createno,
    ba_createdate, ba_confirmid, ba_confirmno,
    ba_confirmdate, ba_status, statusname,
    activityname)
    values (#{ba_id,jdbcType=BIGINT}, #{ba_name,jdbcType=VARCHAR}, #{ba_datebegin,jdbcType=VARCHAR},
    #{ba_dateend,jdbcType=VARCHAR}, #{ba_popup,jdbcType=SMALLINT}, #{ba_integral_first,jdbcType=INTEGER},
    #{ba_integral_normal,jdbcType=INTEGER}, #{ba_createid,jdbcType=BIGINT}, #{ba_createno,jdbcType=VARCHAR},
    #{ba_createdate,jdbcType=TIMESTAMP}, #{ba_confirmid,jdbcType=BIGINT}, #{ba_confirmno,jdbcType=VARCHAR},
    #{ba_confirmdate,jdbcType=TIMESTAMP}, #{ba_status,jdbcType=TINYINT}, #{statusname,jdbcType=VARCHAR},
    #{activityname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.morsearch.model.AwardV_Evaluate" >
    insert into AwardV_Evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ba_id != null" >
        ba_id,
      </if>
      <if test="ba_name != null" >
        ba_name,
      </if>
      <if test="ba_datebegin != null" >
        ba_datebegin,
      </if>
      <if test="ba_dateend != null" >
        ba_dateend,
      </if>
      <if test="ba_popup != null" >
        ba_popup,
      </if>
      <if test="ba_integral_first != null" >
        ba_integral_first,
      </if>
      <if test="ba_integral_normal != null" >
        ba_integral_normal,
      </if>
      <if test="ba_createid != null" >
        ba_createid,
      </if>
      <if test="ba_createno != null" >
        ba_createno,
      </if>
      <if test="ba_createdate != null" >
        ba_createdate,
      </if>
      <if test="ba_confirmid != null" >
        ba_confirmid,
      </if>
      <if test="ba_confirmno != null" >
        ba_confirmno,
      </if>
      <if test="ba_confirmdate != null" >
        ba_confirmdate,
      </if>
      <if test="ba_status != null" >
        ba_status,
      </if>
      <if test="statusname != null" >
        statusname,
      </if>
      <if test="activityname != null" >
        activityname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ba_id != null" >
        #{ba_id,jdbcType=BIGINT},
      </if>
      <if test="ba_name != null" >
        #{ba_name,jdbcType=VARCHAR},
      </if>
      <if test="ba_datebegin != null" >
        #{ba_datebegin,jdbcType=VARCHAR},
      </if>
      <if test="ba_dateend != null" >
        #{ba_dateend,jdbcType=VARCHAR},
      </if>
      <if test="ba_popup != null" >
        #{ba_popup,jdbcType=SMALLINT},
      </if>
      <if test="ba_integral_first != null" >
        #{ba_integral_first,jdbcType=INTEGER},
      </if>
      <if test="ba_integral_normal != null" >
        #{ba_integral_normal,jdbcType=INTEGER},
      </if>
      <if test="ba_createid != null" >
        #{ba_createid,jdbcType=BIGINT},
      </if>
      <if test="ba_createno != null" >
        #{ba_createno,jdbcType=VARCHAR},
      </if>
      <if test="ba_createdate != null" >
        #{ba_createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ba_confirmid != null" >
        #{ba_confirmid,jdbcType=BIGINT},
      </if>
      <if test="ba_confirmno != null" >
        #{ba_confirmno,jdbcType=VARCHAR},
      </if>
      <if test="ba_confirmdate != null" >
        #{ba_confirmdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ba_status != null" >
        #{ba_status,jdbcType=TINYINT},
      </if>
      <if test="statusname != null" >
        #{statusname,jdbcType=VARCHAR},
      </if>
      <if test="activityname != null" >
        #{activityname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.morsearch.model.AwardV_EvaluateExample" resultType="java.lang.Integer" >
    select count(*) from AwardV_Evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update AwardV_Evaluate
    <set >
      <if test="record.ba_id != null" >
        ba_id = #{record.ba_id,jdbcType=BIGINT},
      </if>
      <if test="record.ba_name != null" >
        ba_name = #{record.ba_name,jdbcType=VARCHAR},
      </if>
      <if test="record.ba_datebegin != null" >
        ba_datebegin = #{record.ba_datebegin,jdbcType=VARCHAR},
      </if>
      <if test="record.ba_dateend != null" >
        ba_dateend = #{record.ba_dateend,jdbcType=VARCHAR},
      </if>
      <if test="record.ba_popup != null" >
        ba_popup = #{record.ba_popup,jdbcType=SMALLINT},
      </if>
      <if test="record.ba_integral_first != null" >
        ba_integral_first = #{record.ba_integral_first,jdbcType=INTEGER},
      </if>
      <if test="record.ba_integral_normal != null" >
        ba_integral_normal = #{record.ba_integral_normal,jdbcType=INTEGER},
      </if>
      <if test="record.ba_createid != null" >
        ba_createid = #{record.ba_createid,jdbcType=BIGINT},
      </if>
      <if test="record.ba_createno != null" >
        ba_createno = #{record.ba_createno,jdbcType=VARCHAR},
      </if>
      <if test="record.ba_createdate != null" >
        ba_createdate = #{record.ba_createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ba_confirmid != null" >
        ba_confirmid = #{record.ba_confirmid,jdbcType=BIGINT},
      </if>
      <if test="record.ba_confirmno != null" >
        ba_confirmno = #{record.ba_confirmno,jdbcType=VARCHAR},
      </if>
      <if test="record.ba_confirmdate != null" >
        ba_confirmdate = #{record.ba_confirmdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ba_status != null" >
        ba_status = #{record.ba_status,jdbcType=TINYINT},
      </if>
      <if test="record.statusname != null" >
        statusname = #{record.statusname,jdbcType=VARCHAR},
      </if>
      <if test="record.activityname != null" >
        activityname = #{record.activityname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update AwardV_Evaluate
    set ba_id = #{record.ba_id,jdbcType=BIGINT},
    ba_name = #{record.ba_name,jdbcType=VARCHAR},
    ba_datebegin = #{record.ba_datebegin,jdbcType=VARCHAR},
    ba_dateend = #{record.ba_dateend,jdbcType=VARCHAR},
    ba_popup = #{record.ba_popup,jdbcType=SMALLINT},
    ba_integral_first = #{record.ba_integral_first,jdbcType=INTEGER},
    ba_integral_normal = #{record.ba_integral_normal,jdbcType=INTEGER},
    ba_createid = #{record.ba_createid,jdbcType=BIGINT},
    ba_createno = #{record.ba_createno,jdbcType=VARCHAR},
    ba_createdate = #{record.ba_createdate,jdbcType=TIMESTAMP},
    ba_confirmid = #{record.ba_confirmid,jdbcType=BIGINT},
    ba_confirmno = #{record.ba_confirmno,jdbcType=VARCHAR},
    ba_confirmdate = #{record.ba_confirmdate,jdbcType=TIMESTAMP},
    ba_status = #{record.ba_status,jdbcType=TINYINT},
    statusname = #{record.statusname,jdbcType=VARCHAR},
    activityname = #{record.activityname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>


  <!--分页查询-->
  <sql id="wherelist" >
    <if test="ba_name != null and ba_name != ''" >
      and ba_name like concat(concat('%',#{ba_name}),'%') <!-- 活动名称查询 -->
    </if>

    <if test="ba_status != null" >/*状态查询*/
      and ba_status=#{ba_status}
    </if>
    /*关于开始时间的查询*/
    <if test="ba_datebegin1 != null and ba_datebegin2 != null" >
      and ba_datebegin  between #{ba_datebegin1} and #{ba_datebegin2}
    </if>
    /*关于结束时间的查询*/
    <if test="ba_dateend1 != null and ba_dateend2 != null" >
      and ba_dateend  between #{ba_dateend1} and #{ba_dateend2}
    </if>
  </sql>
  <!--分页查询begin-->
  <select id="getAwardV_EvaluateList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select * from AwardV_Evaluate bv where 1=1
    <include refid="wherelist" />
    ORDER BY ba_id DESC
    limit #{pagestart},#{pagesize}
  </select>

  <select id="getCountAwardV_Evaluate" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(ba_id) from AwardV_Evaluate where 1=1
    <include refid="wherelist" />
  </select>



</mapper>