<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morsearch.dao.DesigV_Home_Archives_ListMapper" >
  <resultMap id="BaseResultMap" type="com.morsearch.model.DesigV_Home_Archives_List" >
    <result column="dh_id" property="dh_id" jdbcType="BIGINT" />
    <result column="dh_dyid" property="dh_dyid" jdbcType="BIGINT" />
    <result column="dh_index" property="dh_index" jdbcType="INTEGER" />
    <result column="pa_title" property="pa_title" jdbcType="VARCHAR" />
    <result column="pa_major" property="pa_major" jdbcType="VARCHAR" />
    <result column="pa_style" property="pa_style" jdbcType="VARCHAR" />
    <result column="pa_features" property="pa_features" jdbcType="VARCHAR" />
    <result column="pa_count_collect" property="pa_count_collect" jdbcType="INTEGER" />
    <result column="pa_count_browse" property="pa_count_browse" jdbcType="INTEGER" />
    <result column="ur_userid" property="ur_userid" jdbcType="BIGINT" />
    <result column="ur_namenick" property="ur_namenick" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dh_id, dh_dyid, dh_index, pa_title, pa_major, pa_style, pa_features, pa_count_collect,
    pa_count_browse, ur_userid, ur_namenick
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.morsearch.model.DesigV_Home_Archives_ListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DesigV_Home_Archives_List
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.morsearch.model.DesigV_Home_Archives_ListExample" >
    delete from DesigV_Home_Archives_List
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.morsearch.model.DesigV_Home_Archives_List" >
    insert into DesigV_Home_Archives_List (dh_id, dh_dyid, dh_index,
    pa_title, pa_major, pa_style,
    pa_features, pa_count_collect, pa_count_browse,
    ur_userid, ur_namenick)
    values (#{dh_id,jdbcType=BIGINT}, #{dh_dyid,jdbcType=BIGINT}, #{dh_index,jdbcType=INTEGER},
    #{pa_title,jdbcType=VARCHAR}, #{pa_major,jdbcType=VARCHAR}, #{pa_style,jdbcType=VARCHAR},
    #{pa_features,jdbcType=VARCHAR}, #{pa_count_collect,jdbcType=INTEGER}, #{pa_count_browse,jdbcType=INTEGER},
    #{ur_userid,jdbcType=BIGINT}, #{ur_namenick,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.morsearch.model.DesigV_Home_Archives_List" >
    insert into DesigV_Home_Archives_List
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dh_id != null" >
        dh_id,
      </if>
      <if test="dh_dyid != null" >
        dh_dyid,
      </if>
      <if test="dh_index != null" >
        dh_index,
      </if>
      <if test="pa_title != null" >
        pa_title,
      </if>
      <if test="pa_major != null" >
        pa_major,
      </if>
      <if test="pa_style != null" >
        pa_style,
      </if>
      <if test="pa_features != null" >
        pa_features,
      </if>
      <if test="pa_count_collect != null" >
        pa_count_collect,
      </if>
      <if test="pa_count_browse != null" >
        pa_count_browse,
      </if>
      <if test="ur_userid != null" >
        ur_userid,
      </if>
      <if test="ur_namenick != null" >
        ur_namenick,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dh_id != null" >
        #{dh_id,jdbcType=BIGINT},
      </if>
      <if test="dh_dyid != null" >
        #{dh_dyid,jdbcType=BIGINT},
      </if>
      <if test="dh_index != null" >
        #{dh_index,jdbcType=INTEGER},
      </if>
      <if test="pa_title != null" >
        #{pa_title,jdbcType=VARCHAR},
      </if>
      <if test="pa_major != null" >
        #{pa_major,jdbcType=VARCHAR},
      </if>
      <if test="pa_style != null" >
        #{pa_style,jdbcType=VARCHAR},
      </if>
      <if test="pa_features != null" >
        #{pa_features,jdbcType=VARCHAR},
      </if>
      <if test="pa_count_collect != null" >
        #{pa_count_collect,jdbcType=INTEGER},
      </if>
      <if test="pa_count_browse != null" >
        #{pa_count_browse,jdbcType=INTEGER},
      </if>
      <if test="ur_userid != null" >
        #{ur_userid,jdbcType=BIGINT},
      </if>
      <if test="ur_namenick != null" >
        #{ur_namenick,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.morsearch.model.DesigV_Home_Archives_ListExample" resultType="java.lang.Integer" >
    select count(*) from DesigV_Home_Archives_List
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DesigV_Home_Archives_List
    <set >
      <if test="record.dh_id != null" >
        dh_id = #{record.dh_id,jdbcType=BIGINT},
      </if>
      <if test="record.dh_dyid != null" >
        dh_dyid = #{record.dh_dyid,jdbcType=BIGINT},
      </if>
      <if test="record.dh_index != null" >
        dh_index = #{record.dh_index,jdbcType=INTEGER},
      </if>
      <if test="record.pa_title != null" >
        pa_title = #{record.pa_title,jdbcType=VARCHAR},
      </if>
      <if test="record.pa_major != null" >
        pa_major = #{record.pa_major,jdbcType=VARCHAR},
      </if>
      <if test="record.pa_style != null" >
        pa_style = #{record.pa_style,jdbcType=VARCHAR},
      </if>
      <if test="record.pa_features != null" >
        pa_features = #{record.pa_features,jdbcType=VARCHAR},
      </if>
      <if test="record.pa_count_collect != null" >
        pa_count_collect = #{record.pa_count_collect,jdbcType=INTEGER},
      </if>
      <if test="record.pa_count_browse != null" >
        pa_count_browse = #{record.pa_count_browse,jdbcType=INTEGER},
      </if>
      <if test="record.ur_userid != null" >
        ur_userid = #{record.ur_userid,jdbcType=BIGINT},
      </if>
      <if test="record.ur_namenick != null" >
        ur_namenick = #{record.ur_namenick,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DesigV_Home_Archives_List
    set dh_id = #{record.dh_id,jdbcType=BIGINT},
    dh_dyid = #{record.dh_dyid,jdbcType=BIGINT},
    dh_index = #{record.dh_index,jdbcType=INTEGER},
    pa_title = #{record.pa_title,jdbcType=VARCHAR},
    pa_major = #{record.pa_major,jdbcType=VARCHAR},
    pa_style = #{record.pa_style,jdbcType=VARCHAR},
    pa_features = #{record.pa_features,jdbcType=VARCHAR},
    pa_count_collect = #{record.pa_count_collect,jdbcType=INTEGER},
    pa_count_browse = #{record.pa_count_browse,jdbcType=INTEGER},
    ur_userid = #{record.ur_userid,jdbcType=BIGINT},
    ur_namenick = #{record.ur_namenick,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>