<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morsearch.dao.Desig_HomeMapper" >
  <resultMap id="BaseResultMap" type="com.morsearch.model.Desig_Home" >
    <id column="dh_id" property="dh_id" jdbcType="BIGINT" />
    <result column="dh_type" property="dh_type" jdbcType="VARCHAR" />
    <result column="dh_dyid" property="dh_dyid" jdbcType="BIGINT" />
    <result column="dh_index" property="dh_index" jdbcType="INTEGER" />
    <result column="dh_remark" property="dh_remark" jdbcType="VARCHAR" />
    <result column="dh_stopflag" property="dh_stopflag" jdbcType="BIT" />
    <result column="dh_createno" property="dh_createno" jdbcType="VARCHAR" />
    <result column="dh_createdate" property="dh_createdate" jdbcType="TIMESTAMP" />
    <result column="dh_updateno" property="dh_updateno" jdbcType="VARCHAR" />
    <result column="dh_updatedate" property="dh_updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dh_id, dh_type, dh_dyid, dh_index, dh_remark, dh_stopflag, dh_createno, dh_createdate, 
    dh_updateno, dh_updatedate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.morsearch.model.Desig_HomeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Desig_Home
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Desig_Home
    where dh_id = #{dh_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Desig_Home
    where dh_id = #{dh_id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.morsearch.model.Desig_HomeExample" >
    delete from Desig_Home
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.morsearch.model.Desig_Home" >
    insert into Desig_Home (dh_id, dh_type, dh_dyid, 
      dh_index, dh_remark, dh_stopflag, 
      dh_createno, dh_createdate, dh_updateno, 
      dh_updatedate)
    values (#{dh_id,jdbcType=BIGINT}, #{dh_type,jdbcType=VARCHAR}, #{dh_dyid,jdbcType=BIGINT}, 
      #{dh_index,jdbcType=INTEGER}, #{dh_remark,jdbcType=VARCHAR}, #{dh_stopflag,jdbcType=BIT}, 
      #{dh_createno,jdbcType=VARCHAR}, #{dh_createdate,jdbcType=TIMESTAMP}, #{dh_updateno,jdbcType=VARCHAR}, 
      #{dh_updatedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.morsearch.model.Desig_Home" >
    insert into Desig_Home
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dh_id != null" >
        dh_id,
      </if>
      <if test="dh_type != null" >
        dh_type,
      </if>
      <if test="dh_dyid != null" >
        dh_dyid,
      </if>
      <if test="dh_index != null" >
        dh_index,
      </if>
      <if test="dh_remark != null" >
        dh_remark,
      </if>
      <if test="dh_stopflag != null" >
        dh_stopflag,
      </if>
      <if test="dh_createno != null" >
        dh_createno,
      </if>
      <if test="dh_createdate != null" >
        dh_createdate,
      </if>
      <if test="dh_updateno != null" >
        dh_updateno,
      </if>
      <if test="dh_updatedate != null" >
        dh_updatedate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dh_id != null" >
        #{dh_id,jdbcType=BIGINT},
      </if>
      <if test="dh_type != null" >
        #{dh_type,jdbcType=VARCHAR},
      </if>
      <if test="dh_dyid != null" >
        #{dh_dyid,jdbcType=BIGINT},
      </if>
      <if test="dh_index != null" >
        #{dh_index,jdbcType=INTEGER},
      </if>
      <if test="dh_remark != null" >
        #{dh_remark,jdbcType=VARCHAR},
      </if>
      <if test="dh_stopflag != null" >
        #{dh_stopflag,jdbcType=BIT},
      </if>
      <if test="dh_createno != null" >
        #{dh_createno,jdbcType=VARCHAR},
      </if>
      <if test="dh_createdate != null" >
        #{dh_createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="dh_updateno != null" >
        #{dh_updateno,jdbcType=VARCHAR},
      </if>
      <if test="dh_updatedate != null" >
        #{dh_updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.morsearch.model.Desig_HomeExample" resultType="java.lang.Integer" >
    select count(*) from Desig_Home
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Desig_Home
    <set >
      <if test="record.dh_id != null" >
        dh_id = #{record.dh_id,jdbcType=BIGINT},
      </if>
      <if test="record.dh_type != null" >
        dh_type = #{record.dh_type,jdbcType=VARCHAR},
      </if>
      <if test="record.dh_dyid != null" >
        dh_dyid = #{record.dh_dyid,jdbcType=BIGINT},
      </if>
      <if test="record.dh_index != null" >
        dh_index = #{record.dh_index,jdbcType=INTEGER},
      </if>
      <if test="record.dh_remark != null" >
        dh_remark = #{record.dh_remark,jdbcType=VARCHAR},
      </if>
      <if test="record.dh_stopflag != null" >
        dh_stopflag = #{record.dh_stopflag,jdbcType=BIT},
      </if>
      <if test="record.dh_createno != null" >
        dh_createno = #{record.dh_createno,jdbcType=VARCHAR},
      </if>
      <if test="record.dh_createdate != null" >
        dh_createdate = #{record.dh_createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dh_updateno != null" >
        dh_updateno = #{record.dh_updateno,jdbcType=VARCHAR},
      </if>
      <if test="record.dh_updatedate != null" >
        dh_updatedate = #{record.dh_updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Desig_Home
    set dh_id = #{record.dh_id,jdbcType=BIGINT},
      dh_type = #{record.dh_type,jdbcType=VARCHAR},
      dh_dyid = #{record.dh_dyid,jdbcType=BIGINT},
      dh_index = #{record.dh_index,jdbcType=INTEGER},
      dh_remark = #{record.dh_remark,jdbcType=VARCHAR},
      dh_stopflag = #{record.dh_stopflag,jdbcType=BIT},
      dh_createno = #{record.dh_createno,jdbcType=VARCHAR},
      dh_createdate = #{record.dh_createdate,jdbcType=TIMESTAMP},
      dh_updateno = #{record.dh_updateno,jdbcType=VARCHAR},
      dh_updatedate = #{record.dh_updatedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.morsearch.model.Desig_Home" >
    update Desig_Home
    <set >
      <if test="dh_type != null" >
        dh_type = #{dh_type,jdbcType=VARCHAR},
      </if>
      <if test="dh_dyid != null" >
        dh_dyid = #{dh_dyid,jdbcType=BIGINT},
      </if>
      <if test="dh_index != null" >
        dh_index = #{dh_index,jdbcType=INTEGER},
      </if>
      <if test="dh_remark != null" >
        dh_remark = #{dh_remark,jdbcType=VARCHAR},
      </if>
      <if test="dh_stopflag != null" >
        dh_stopflag = #{dh_stopflag,jdbcType=BIT},
      </if>
      <if test="dh_createno != null" >
        dh_createno = #{dh_createno,jdbcType=VARCHAR},
      </if>
      <if test="dh_createdate != null" >
        dh_createdate = #{dh_createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="dh_updateno != null" >
        dh_updateno = #{dh_updateno,jdbcType=VARCHAR},
      </if>
      <if test="dh_updatedate != null" >
        dh_updatedate = #{dh_updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dh_id = #{dh_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.morsearch.model.Desig_Home" >
    update Desig_Home
    set dh_type = #{dh_type,jdbcType=VARCHAR},
      dh_dyid = #{dh_dyid,jdbcType=BIGINT},
      dh_index = #{dh_index,jdbcType=INTEGER},
      dh_remark = #{dh_remark,jdbcType=VARCHAR},
      dh_stopflag = #{dh_stopflag,jdbcType=BIT},
      dh_createno = #{dh_createno,jdbcType=VARCHAR},
      dh_createdate = #{dh_createdate,jdbcType=TIMESTAMP},
      dh_updateno = #{dh_updateno,jdbcType=VARCHAR},
      dh_updatedate = #{dh_updatedate,jdbcType=TIMESTAMP}
    where dh_id = #{dh_id,jdbcType=BIGINT}
  </update>
</mapper>