<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morsearch.dao.DesigV_Search_SalesMapper" >
  <resultMap id="BaseResultMap" type="com.morsearch.model.DesigV_Search_Sales" >
    <result column="ur_id" property="ur_id" jdbcType="BIGINT" />
    <result column="ur_phone" property="ur_phone" jdbcType="VARCHAR" />
    <result column="ur_namenick" property="ur_namenick" jdbcType="VARCHAR" />
    <result column="ur_sex" property="ur_sex" jdbcType="VARCHAR" />
    <result column="ur_imageurl" property="ur_imageurl" jdbcType="VARCHAR" />
    <result column="ur_msgflag2" property="ur_msgflag2" jdbcType="BIT" />
    <result column="ue_personjob" property="ue_personjob" jdbcType="VARCHAR" />
    <result column="ue_personmajor" property="ue_personmajor" jdbcType="VARCHAR" />
    <result column="ue_companybrand" property="ue_companybrand" jdbcType="VARCHAR" />
    <result column="ue_companyname" property="ue_companyname" jdbcType="VARCHAR" />
    <result column="ue_companyunit" property="ue_companyunit" jdbcType="VARCHAR" />
    <result column="um_evaluaterate" property="um_evaluaterate" jdbcType="DECIMAL" />
    <result column="ur_register_date" property="ur_register_date" jdbcType="TIMESTAMP" />
    <result column="ur_login_date" property="ur_login_date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ur_id, ur_phone, ur_namenick, ur_sex, ur_imageurl, ur_msgflag2, ue_personjob, ue_personmajor,
    ue_companybrand, ue_companyname, ue_companyunit, um_evaluaterate, ur_register_date,
    ur_login_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.morsearch.model.DesigV_Search_SalesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DesigV_Search_Sales
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.morsearch.model.DesigV_Search_SalesExample" >
    delete from DesigV_Search_Sales
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.morsearch.model.DesigV_Search_Sales" >
    insert into DesigV_Search_Sales (ur_id, ur_phone, ur_namenick,
    ur_sex, ur_imageurl, ur_msgflag2,
    ue_personjob, ue_personmajor, ue_companybrand,
    ue_companyname, ue_companyunit, um_evaluaterate,
    ur_register_date, ur_login_date)
    values (#{ur_id,jdbcType=BIGINT}, #{ur_phone,jdbcType=VARCHAR}, #{ur_namenick,jdbcType=VARCHAR},
    #{ur_sex,jdbcType=VARCHAR}, #{ur_imageurl,jdbcType=VARCHAR}, #{ur_msgflag2,jdbcType=BIT},
    #{ue_personjob,jdbcType=VARCHAR}, #{ue_personmajor,jdbcType=VARCHAR}, #{ue_companybrand,jdbcType=VARCHAR},
    #{ue_companyname,jdbcType=VARCHAR}, #{ue_companyunit,jdbcType=VARCHAR}, #{um_evaluaterate,jdbcType=DECIMAL},
    #{ur_register_date,jdbcType=TIMESTAMP}, #{ur_login_date,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.morsearch.model.DesigV_Search_Sales" >
    insert into DesigV_Search_Sales
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ur_id != null" >
        ur_id,
      </if>
      <if test="ur_phone != null" >
        ur_phone,
      </if>
      <if test="ur_namenick != null" >
        ur_namenick,
      </if>
      <if test="ur_sex != null" >
        ur_sex,
      </if>
      <if test="ur_imageurl != null" >
        ur_imageurl,
      </if>
      <if test="ur_msgflag2 != null" >
        ur_msgflag2,
      </if>
      <if test="ue_personjob != null" >
        ue_personjob,
      </if>
      <if test="ue_personmajor != null" >
        ue_personmajor,
      </if>
      <if test="ue_companybrand != null" >
        ue_companybrand,
      </if>
      <if test="ue_companyname != null" >
        ue_companyname,
      </if>
      <if test="ue_companyunit != null" >
        ue_companyunit,
      </if>
      <if test="um_evaluaterate != null" >
        um_evaluaterate,
      </if>
      <if test="ur_register_date != null" >
        ur_register_date,
      </if>
      <if test="ur_login_date != null" >
        ur_login_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ur_id != null" >
        #{ur_id,jdbcType=BIGINT},
      </if>
      <if test="ur_phone != null" >
        #{ur_phone,jdbcType=VARCHAR},
      </if>
      <if test="ur_namenick != null" >
        #{ur_namenick,jdbcType=VARCHAR},
      </if>
      <if test="ur_sex != null" >
        #{ur_sex,jdbcType=VARCHAR},
      </if>
      <if test="ur_imageurl != null" >
        #{ur_imageurl,jdbcType=VARCHAR},
      </if>
      <if test="ur_msgflag2 != null" >
        #{ur_msgflag2,jdbcType=BIT},
      </if>
      <if test="ue_personjob != null" >
        #{ue_personjob,jdbcType=VARCHAR},
      </if>
      <if test="ue_personmajor != null" >
        #{ue_personmajor,jdbcType=VARCHAR},
      </if>
      <if test="ue_companybrand != null" >
        #{ue_companybrand,jdbcType=VARCHAR},
      </if>
      <if test="ue_companyname != null" >
        #{ue_companyname,jdbcType=VARCHAR},
      </if>
      <if test="ue_companyunit != null" >
        #{ue_companyunit,jdbcType=VARCHAR},
      </if>
      <if test="um_evaluaterate != null" >
        #{um_evaluaterate,jdbcType=DECIMAL},
      </if>
      <if test="ur_register_date != null" >
        #{ur_register_date,jdbcType=TIMESTAMP},
      </if>
      <if test="ur_login_date != null" >
        #{ur_login_date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.morsearch.model.DesigV_Search_SalesExample" resultType="java.lang.Integer" >
    select count(*) from DesigV_Search_Sales
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DesigV_Search_Sales
    <set >
      <if test="record.ur_id != null" >
        ur_id = #{record.ur_id,jdbcType=BIGINT},
      </if>
      <if test="record.ur_phone != null" >
        ur_phone = #{record.ur_phone,jdbcType=VARCHAR},
      </if>
      <if test="record.ur_namenick != null" >
        ur_namenick = #{record.ur_namenick,jdbcType=VARCHAR},
      </if>
      <if test="record.ur_sex != null" >
        ur_sex = #{record.ur_sex,jdbcType=VARCHAR},
      </if>
      <if test="record.ur_imageurl != null" >
        ur_imageurl = #{record.ur_imageurl,jdbcType=VARCHAR},
      </if>
      <if test="record.ur_msgflag2 != null" >
        ur_msgflag2 = #{record.ur_msgflag2,jdbcType=BIT},
      </if>
      <if test="record.ue_personjob != null" >
        ue_personjob = #{record.ue_personjob,jdbcType=VARCHAR},
      </if>
      <if test="record.ue_personmajor != null" >
        ue_personmajor = #{record.ue_personmajor,jdbcType=VARCHAR},
      </if>
      <if test="record.ue_companybrand != null" >
        ue_companybrand = #{record.ue_companybrand,jdbcType=VARCHAR},
      </if>
      <if test="record.ue_companyname != null" >
        ue_companyname = #{record.ue_companyname,jdbcType=VARCHAR},
      </if>
      <if test="record.ue_companyunit != null" >
        ue_companyunit = #{record.ue_companyunit,jdbcType=VARCHAR},
      </if>
      <if test="record.um_evaluaterate != null" >
        um_evaluaterate = #{record.um_evaluaterate,jdbcType=DECIMAL},
      </if>
      <if test="record.ur_register_date != null" >
        ur_register_date = #{record.ur_register_date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ur_login_date != null" >
        ur_login_date = #{record.ur_login_date,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DesigV_Search_Sales
    set ur_id = #{record.ur_id,jdbcType=BIGINT},
    ur_phone = #{record.ur_phone,jdbcType=VARCHAR},
    ur_namenick = #{record.ur_namenick,jdbcType=VARCHAR},
    ur_sex = #{record.ur_sex,jdbcType=VARCHAR},
    ur_imageurl = #{record.ur_imageurl,jdbcType=VARCHAR},
    ur_msgflag2 = #{record.ur_msgflag2,jdbcType=BIT},
    ue_personjob = #{record.ue_personjob,jdbcType=VARCHAR},
    ue_personmajor = #{record.ue_personmajor,jdbcType=VARCHAR},
    ue_companybrand = #{record.ue_companybrand,jdbcType=VARCHAR},
    ue_companyname = #{record.ue_companyname,jdbcType=VARCHAR},
    ue_companyunit = #{record.ue_companyunit,jdbcType=VARCHAR},
    um_evaluaterate = #{record.um_evaluaterate,jdbcType=DECIMAL},
    ur_register_date = #{record.ur_register_date,jdbcType=TIMESTAMP},
    ur_login_date = #{record.ur_login_date,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>


  <!--自定义-->
  <sql id="wherelist" >
    <if test="keywords != null and keywords != ''" >
      AND (ur_imageurl like concat(concat('%',#{keywords}),'%')
    </if>
    <if test="keywords != null and keywords != ''" >
      OR ur_namenick like concat(concat('%',#{keywords}),'%')
    </if>
    <if test="keywords != null and keywords != ''" >
      OR ue_personjob like concat(concat('%',#{keywords}),'%')
    </if>
    <if test="keywords != null and keywords != ''" >
      OR ue_personmajor like concat(concat('%',#{keywords}),'%')
    </if>
    <if test="keywords != null and keywords != ''" >
      OR ue_companybrand like concat(concat('%',#{keywords}),'%')
    </if>
    <if test="keywords != null and keywords != ''" >
      OR ue_companyname like concat(concat('%',#{keywords}),'%'))
    </if>
  </sql>

  <select id="getDesigV_Search_SalesList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    ur_id,ur_imageurl,ur_namenick,ue_personjob,ue_personmajor,ue_companybrand,ue_companyname,ur_sex,ue_companyunit
    from DesigV_Search_Sales se where 1=1
    <include refid="wherelist" />
    ORDER BY ur_msgflag2 DESC,ur_register_date DESC
    limit #{pagestart},#{pagesize}
  </select>

  <!--总数-->
  <select id="getCountDesigV_Search_Sales" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(*) from DesigV_Search_Sales se WHERE 1=1
    <include refid="wherelist" />
  </select>


</mapper>