<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morsearch.dao.DesigV_Collect_PmMapper" >
  <resultMap id="BaseResultMap" type="com.morsearch.model.DesigV_Collect_Pm" >
    <result column="dm_id" property="dm_id" jdbcType="BIGINT" />
    <result column="dm_archivesid" property="dm_archivesid" jdbcType="BIGINT" />
    <result column="dm_createid" property="dm_createid" jdbcType="BIGINT" />
    <result column="dm_createno" property="dm_createno" jdbcType="VARCHAR" />
    <result column="dm_createdate" property="dm_createdate" jdbcType="TIMESTAMP" />
    <result column="dateshort" property="dateshort" jdbcType="TIMESTAMP" />
    <result column="pa_title" property="pa_title" jdbcType="VARCHAR" />
    <result column="pa_userid" property="pa_userid" jdbcType="BIGINT" />
    <result column="pa_username" property="pa_username" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dm_id, dm_archivesid, dm_createid, dm_createno, dm_createdate, dateshort, pa_title,
    pa_userid, pa_username
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.morsearch.model.DesigV_Collect_PmExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DesigV_Collect_Pm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.morsearch.model.DesigV_Collect_PmExample" >
    delete from DesigV_Collect_Pm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.morsearch.model.DesigV_Collect_Pm" >
    insert into DesigV_Collect_Pm (dm_id, dm_archivesid, dm_createid,
    dm_createno, dm_createdate, dateshort,
    pa_title, pa_userid, pa_username
    )
    values (#{dm_id,jdbcType=BIGINT}, #{dm_archivesid,jdbcType=BIGINT}, #{dm_createid,jdbcType=BIGINT},
    #{dm_createno,jdbcType=VARCHAR}, #{dm_createdate,jdbcType=TIMESTAMP}, #{dateshort,jdbcType=TIMESTAMP},
    #{pa_title,jdbcType=VARCHAR}, #{pa_userid,jdbcType=BIGINT}, #{pa_username,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.morsearch.model.DesigV_Collect_Pm" >
    insert into DesigV_Collect_Pm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dm_id != null" >
        dm_id,
      </if>
      <if test="dm_archivesid != null" >
        dm_archivesid,
      </if>
      <if test="dm_createid != null" >
        dm_createid,
      </if>
      <if test="dm_createno != null" >
        dm_createno,
      </if>
      <if test="dm_createdate != null" >
        dm_createdate,
      </if>
      <if test="dateshort != null" >
        dateshort,
      </if>
      <if test="pa_title != null" >
        pa_title,
      </if>
      <if test="pa_userid != null" >
        pa_userid,
      </if>
      <if test="pa_username != null" >
        pa_username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dm_id != null" >
        #{dm_id,jdbcType=BIGINT},
      </if>
      <if test="dm_archivesid != null" >
        #{dm_archivesid,jdbcType=BIGINT},
      </if>
      <if test="dm_createid != null" >
        #{dm_createid,jdbcType=BIGINT},
      </if>
      <if test="dm_createno != null" >
        #{dm_createno,jdbcType=VARCHAR},
      </if>
      <if test="dm_createdate != null" >
        #{dm_createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="dateshort != null" >
        #{dateshort,jdbcType=TIMESTAMP},
      </if>
      <if test="pa_title != null" >
        #{pa_title,jdbcType=VARCHAR},
      </if>
      <if test="pa_userid != null" >
        #{pa_userid,jdbcType=BIGINT},
      </if>
      <if test="pa_username != null" >
        #{pa_username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.morsearch.model.DesigV_Collect_PmExample" resultType="java.lang.Integer" >
    select count(*) from DesigV_Collect_Pm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DesigV_Collect_Pm
    <set >
      <if test="record.dm_id != null" >
        dm_id = #{record.dm_id,jdbcType=BIGINT},
      </if>
      <if test="record.dm_archivesid != null" >
        dm_archivesid = #{record.dm_archivesid,jdbcType=BIGINT},
      </if>
      <if test="record.dm_createid != null" >
        dm_createid = #{record.dm_createid,jdbcType=BIGINT},
      </if>
      <if test="record.dm_createno != null" >
        dm_createno = #{record.dm_createno,jdbcType=VARCHAR},
      </if>
      <if test="record.dm_createdate != null" >
        dm_createdate = #{record.dm_createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dateshort != null" >
        dateshort = #{record.dateshort,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pa_title != null" >
        pa_title = #{record.pa_title,jdbcType=VARCHAR},
      </if>
      <if test="record.pa_userid != null" >
        pa_userid = #{record.pa_userid,jdbcType=BIGINT},
      </if>
      <if test="record.pa_username != null" >
        pa_username = #{record.pa_username,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DesigV_Collect_Pm
    set dm_id = #{record.dm_id,jdbcType=BIGINT},
    dm_archivesid = #{record.dm_archivesid,jdbcType=BIGINT},
    dm_createid = #{record.dm_createid,jdbcType=BIGINT},
    dm_createno = #{record.dm_createno,jdbcType=VARCHAR},
    dm_createdate = #{record.dm_createdate,jdbcType=TIMESTAMP},
    dateshort = #{record.dateshort,jdbcType=TIMESTAMP},
    pa_title = #{record.pa_title,jdbcType=VARCHAR},
    pa_userid = #{record.pa_userid,jdbcType=BIGINT},
    pa_username = #{record.pa_username,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 条件 -->
  <sql id="wherelist" >
    <if test="dm_archivesid != null and dm_archivesid != ''" >
      and dm_archivesid like concat(concat('%',#{dm_archivesid}),'%') <!-- 模糊查询 -->
    </if>
    <if test="dm_createid != null and dm_createid != ''" > <!-- 模糊查询 -->
      and dm_createid = #{dm_createid,jdbcType=BIGINT}
    </if>
    <if test="dm_createno != null and dm_createno != ''" >
      and dm_createno like concat(concat('%',#{dm_createno}),'%')<!-- 模糊查询 -->
    </if>
    <if test="pa_title != null and pa_title != ''" >
      and pa_title like concat(concat('%',#{pa_title}),'%')<!-- 模糊查询 -->
    </if>
    <if test="pa_createno != null and pa_createno != ''" >
      and pa_createno like concat(concat('%',#{pa_createno}),'%')<!-- 模糊查询 -->
    </if>
    <if test="dm_createdate1 != null and dm_createdate2 !=null" >
      and dm_createdate  between #{dm_createdate1} and #{dm_createdate2}
    </if>
  </sql>

  <!-- 分页 -->
  <select id="getDesigV_Collect_PmList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select * from DesigV_Collect_Pm dcp where 1=1
    <include refid="wherelist" />
    ORDER BY dm_id DESC
    limit #{pagestart},#{pagesize}
  </select>

  <select id="getCountDesigV_Collect_Pm" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(dm_id) from DesigV_Collect_Pm dcp where 1=1
    <include refid="wherelist" />
  </select>

</mapper>